DATABASE_URL=mongodb+srv://deepakdeveloper16_db_user:eOkZk1ykrDdpEUBf@eventhub.lxiort4.mongodb.net/?appName=EventHub
JWT_SECRET=
PORT=8080
NODE_ENV=production
CORS_ORIGIN_LOCAL=http://localhost:3000
CORS_ORIGIN_PROD=https://event-hub-frontend-six.vercel.app/
